*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family: "Inter", sans-serif !important;

    background:#050816;

    color:white;

    overflow-x:hidden;
}


/* HERO */

.hero{

    position:relative;

    height:100vh;

    background:
        url("images/hero-bg.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-overlay{

    position:absolute;

    inset:0;

    background:
        linear-gradient(
            rgba(0,0,0,0.4),
            rgba(5,8,22,0.9)
        );
}

.hero-content{

    position:relative;

    z-index:2;

    padding:0 10%;
}

.hero-content h1{

    font-size:120px;

    letter-spacing:-5px;

    margin-bottom:20px;

    color:#ff204e;

    text-shadow:
        0 0 20px rgba(255,32,78,0.5);
}

.hero-content p{

    font-size:24px;

    color:#d1d5db;

    max-width:800px;

    margin:auto;

    line-height:1.8;

    margin-bottom:40px;
}

.hero-btn{

    display:inline-block;

    padding:18px 36px;

    border-radius:16px;

    text-decoration:none;

    color:white;

    font-weight:600;

    background:
        linear-gradient(
            135deg,
            #ff204e,
            #7a00ff
        );

    transition:0.3s;
}

.hero-btn:hover{

    transform:scale(1.05);

    box-shadow:
        0 0 30px rgba(255,32,78,0.4);
}


/* SECTION */

section{

    padding:140px 10%;
}

section h2{

    font-size:56px;

    margin-bottom:50px;

    text-align:center;

    letter-spacing:6px;
}


/* ABOUT */

.about p{

    max-width:900px;

    margin:auto;

    text-align:center;

    font-size:22px;

    line-height:2;

    color:#c4c4c4;
}


/* FEATURES */

.feature-grid{

    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:30px;
}

.feature-card{

    padding:50px;

    text-align:center;

    border-radius:24px;

    background:
        rgba(255,255,255,0.03);

    border:
        1px solid rgba(255,255,255,0.06);

    backdrop-filter:blur(10px);

    font-size:28px;

    transition:0.4s;
}

.feature-card:hover{

    transform:translateY(-8px);

    border:
        1px solid rgba(255,32,78,0.4);

    box-shadow:
        0 0 30px rgba(255,32,78,0.2);
}


/* GALLERY */

.gallery-grid{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:25px;
}

.gallery-grid img{

    width:100%;

    border-radius:24px;

    transition:0.4s;
}

.gallery-grid img:hover{

    transform:scale(1.03);

    box-shadow:
        0 0 30px rgba(255,32,78,0.2);
}


/* TRAILER */

.video-container{

    position:relative;

    width:100%;

    padding-top:56.25%;

    border-radius:28px;

    overflow:hidden;
}

.video-container iframe{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;
}


/* TECH */

.tech-grid{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:25px;
}

.tech-card{

    padding:40px;

    border-radius:24px;

    text-align:center;

    background:
        rgba(255,255,255,0.03);

    border:
        1px solid rgba(255,255,255,0.05);
}

.tech-card h3{

    color:#ff204e;
    font-size:24px;
    margin-bottom:15px;
}

.tech-card p{
    font-size:20px;
    color:#d1d5db;
}


/* PLAY */

.play{

    text-align:center;
}

.play a{

    display:inline-block;

    margin-top:30px;

    padding:24px 50px;

    border-radius:20px;

    text-decoration:none;

    color:white;

    font-size:22px;

    font-weight:700;

    background:
        linear-gradient(
            135deg,
            #ff204e,
            #7a00ff
        );

    transition:0.4s;
}

.play a:hover{

    transform:scale(1.05);

    box-shadow:
        0 0 40px rgba(255,32,78,0.4);
}


/* RESPONSIVE */

@media(max-width:900px){

    .hero-content h1{
        font-size:72px;
    }

    .feature-grid,
    .gallery-grid,
    .tech-grid{

        grid-template-columns:1fr;
    }

    section h2{
        font-size:42px;
    }
}

/* IMAGE VIEWER */

.image-viewer{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,0.92);

    display:flex;

    justify-content:center;
    align-items:center;

    opacity:0;
    visibility:hidden;

    transition:0.35s;

    z-index:9999;

    backdrop-filter:blur(10px);
}

.image-viewer.active{

    opacity:1;
    visibility:visible;
}

.image-viewer img{

    width:1150px;

    height:650px;

    max-width:90%;

    max-height:85vh;

    object-fit:contain;

    border-radius:24px;

    transform:scale(0.8);

    transition:0.35s;

    box-shadow:
        0 0 60px rgba(255,32,78,0.25);
}

.image-viewer.active img{

    transform:scale(1);
}

.close-btn{

    position:absolute;

    top:30px;
    right:40px;

    font-size:60px;

    color:white;

    cursor:pointer;

    transition:0.3s;
}

.close-btn:hover{

    color:#ff204e;

    transform:scale(1.1);
}


/* ทำให้รูปดู clickable */

.gallery-grid img{

    cursor:pointer;
}

/* ลูกศรไปกลับ */
.nav-btn{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    width:85px;
    height:85px;

    border:none;

    border-radius:50%;

    background:
        rgba(255,255,255,0.08);

    color:white;

    font-size:48px;

    font-weight:150;

    cursor:pointer;

    backdrop-filter:blur(10px);

    transition:0.3s;

    z-index:10000;

    box-shadow:
        0 0 25px rgba(255,32,78,0.15);
}

.nav-btn:hover{

    background:
        rgba(255,32,78,0.4);

    transform:
        translateY(-50%)
        scale(1.08);
}

.prev-btn{

    left:60px;
}

.next-btn{

    right:60px;
}
